/myapp/SelfServicePortal/nbproject/private/
/myapp/SelfServicePortals/nbproject/private/
/myapp/SelfServicePortals/build/
/myapp/SelfServicePortal/build/
/myapp/SelfServicePortal/dist/
/myapp/SpacePortal/nbproject/private/
/myapp/SelfServicePortals/dist/
/myapp/PhoneDirectory/nbproject/private/
/myapp/PhoneDirectory/build/
/myapp/PhoneDirectory/dist/
/myapp/PhoneBookDirectory/nbproject/private/
/myapp/PhoneBookDirectory/build/
/myapp/PhoneBookDirectory/dist/