/myapp/SelfServicePortal/nbproject/private/
/myapp/SelfServicePortals/nbproject/private/
/myapp/SelfServicePortals/build/
/myapp/SelfServicePortal/build/
/myapp/SelfServicePortal/dist/
/myapp/SpacePortal/nbproject/private/
/myapp/SelfServicePortals/dist/